@page
@using Microsoft.Extensions.Configuration

@inject IConfiguration configuration

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Message of the day: @configuration.GetSection("some_setting").Value</p>
    Coś tam se dodałem znów i znów
</div>
